<form action="<%= posts_path(@post) %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="title-div">
    <input name="post[title]" id="title" type="title" class="title-space">
  </div>

  <div class="content-div">
    <textarea name="post[content]" id="content" type="body" class="textarea-space"></textarea>
  </div>

  <button type="submit" value="Submit" class="submit-btn">Post</button>


</form>